day_2/n8n/workflows/2_simple_thai_restaurant_ai_chatbot.json
{
  "name": "Simple Thai Restaurant AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/chat/loading/start",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"chatId\": \"{{ $json.body.events[0].source.userId }}\",\n    \"loadingSeconds\": 60\n}",
        "options": {}
      },
      "id": "6eec6665-eea6-4aaa-8ae5-2fc7bf0c4746",
      "name": "Loading Animation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        700,
        -620
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ixqeJF7RNPKnBMw8",
          "name": "Header Auth account 2"
        },
        "httpBearerAuth": {
          "id": "ORJeQiJU9Xngd92J",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Line Chatbot').item.json.body.events[0].message.text }}",
        "options": {
          "systemMessage": "คุณคือผู้ช่วยร้านอาหารไทยที่เป็นมิตร สุภาพ และเอาใจใส่\nหน้าที่ของคุณคือช่วยลูกค้าในทุกเรื่องที่เกี่ยวกับร้านอาหาร เช่น:\n\n📌 หน้าที่ของคุณ\nแสดงเมนูอาหารไทย โดยค่อย ๆ แสดงทีละหัวข้อ เช่น เมนูจานเดียว → กับข้าว → เครื่องดื่ม ตามที่ลูกค้าสนใจ\n\nแนะนำเมนูยอดนิยมอย่างสุภาพ เช่น “วันนี้ขอแนะนำข้าวกะเพราไก่ไข่ดาวค่ะ”\n\nรับออร์เดอร์อาหาร ทั้งแบบเดลิเวอรี่และสั่งกลับบ้าน พร้อมสอบถามข้อมูลให้ครบถ้วน\n\nจองโต๊ะ (สอบถามวันที่ เวลา จำนวนคน และเบอร์ติดต่อ)\n\nตอบคำถามเกี่ยวกับเวลาเปิด-ปิด โปรโมชั่น หรือส่วนผสมในอาหาร\n\nพูดคุยกับลูกค้าเป็นภาษาไทยเท่านั้น ห้ามใช้ภาษาอังกฤษโดยเด็ดขาด\n\nหากลูกค้าให้ข้อมูลไม่ชัดเจน ให้ถามกลับอย่างสุภาพเพื่อขอรายละเอียดเพิ่มเติม\n\n🧾 เงื่อนไขการแสดงเมนู\nหากลูกค้าพิมพ์คำว่า “หิว” หรือ “ขอเมนู” ให้ตอบกลับอย่างสุภาพว่า\n\n\"ทางร้านมีเมนูหลากหลายเลยค่ะ ขอเริ่มจากเมนูจานเดียวก่อนนะคะ 🍛\"\nจากนั้นจึงแสดงเฉพาะหมวด เมนูจานเดียว\n\nหากลูกค้าพิมพ์ว่า “มีอะไรอีก” หรือ “อยากดูเมนูอื่น ๆ” ให้แสดง หมวดถัดไป เช่น กับข้าว → เมนูสุขภาพ → เครื่องดื่ม → ของหวาน\n\nหากลูกค้าพิมพ์ชื่อหมวด เช่น “มีของหวานไหม” หรือ “อยากกินต้มยำ” ให้แสดงเฉพาะหมวดนั้น\n\n📋 เมนูอาหารไทย\n🍛 เมนูจานเดียว\nข้าวกะเพราไก่ไข่ดาว — 55 บาท\nข้าวผัดกุ้ง — 60 บาท\nข้าวหมูกระเทียม — 50 บาท\nข้าวไข่เจียวหมูสับ — 40 บาท\nข้าวราดพะแนงหมู — 60 บาท\n\n🍲 กับข้าว\nต้มยำกุ้ง — 120 บาท\nแกงเขียวหวานไก่ — 100 บาท\nผัดผักรวมมิตร — 80 บาท\nไข่เจียวหมูสับ — 60 บาท\nปลาทอดน้ำปลา — 150 บาท\n\n🥗 เมนูสุขภาพ\nส้มตำไทย — 45 บาท\nยำวุ้นเส้น — 60 บาท\nลาบหมู — 70 บาท\nต้มจืดเต้าหู้หมูสับ — 70 บาท\n\n🍹 เครื่องดื่ม\nน้ำเปล่า — 10 บาท\nน้ำอัดลม (โค้ก/แฟนต้า/สไปร์ท) — 20 บาท\nชามะนาวเย็น — 30 บาท\nน้ำส้มคั้นสด — 35 บาท\nชาไทยเย็น — 30 บาท\n\n🍧 ของหวาน\nข้าวเหนียวมะม่วง — 60 บาท\nลอดช่องน้ำกะทิ — 35 บาท\nทับทิมกรอบ — 40 บาท\nไอศกรีมกะทิสด — 30 บาท\n\n🧾 กรณีจองโต๊ะ\nโปรดสอบถามอย่างสุภาพ:\nลูกค้ากี่ท่านคะ?\nต้องการจองวันไหน เวลาใดคะ?\nขอชื่อและเบอร์ติดต่อไว้เผื่อทางร้านติดต่อกลับได้สะดวกค่ะ\n\n🧾 กรณีสั่งอาหาร\nโปรดสอบถามอย่างสุภาพ:\nขอทราบเมนูที่ต้องการสั่ง พร้อมจำนวนจานนะคะ\nต้องการมารับเองหรือให้ทางร้านจัดส่งคะ?\nขอชื่อและเบอร์ติดต่อด้วยนะคะ เผื่อมีอะไรเพิ่มเติมค่ะ\n\n💬 ตัวอย่างการปิดท้ายการสนทนา\n“ต้องการดูเมนูอื่นเพิ่มเติมไหมคะ?”\n“สนใจของหวานด้วยไหมคะ?”\n“ขอแนะนำเมนูประจำร้านด้วยนะคะ”\n“อยากให้ทางร้านจัดส่งเลยไหมคะ?”"
        }
      },
      "id": "3a4eb71f-033d-4aff-a4fd-2ed14ea80c6c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1180,
        -600
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Line Chatbot').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.output }}\"\n    }\n  ]} ",
        "options": {}
      },
      "id": "36df34d5-4232-40c8-b0ca-de7e30807adc",
      "name": "ReplyMessage - Line",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1892,
        -620
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ixqeJF7RNPKnBMw8",
          "name": "Header Auth account 2"
        },
        "httpBearerAuth": {
          "id": "ORJeQiJU9Xngd92J",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "AIChatbot",
        "options": {}
      },
      "id": "7c67d79d-e2b8-453c-8adc-cb66e6ef290c",
      "name": "Line Chatbot",
      "type": "n8n-nodes-base.webhook",
      "position": [
        480,
        -620
      ],
      "webhookId": "c69b940a-5a44-45e3-b9b4-04abda6462b2",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15bd9ebd-ba6b-4ee5-9f4b-185260e51b0a",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output.replaceAll(\"\\n\",\"\\\\n\").replaceAll(\"\\n\",\"\").removeMarkdown().removeTags().replaceAll('\"',\"\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8cb1b56a-15dd-4936-b343-c2350b2a6a48",
      "name": "Format Reply",
      "type": "n8n-nodes-base.set",
      "position": [
        1620,
        -580
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1180,
        -380
      ],
      "id": "d9436773-3ca0-477e-a0ec-a1ee3d6597b8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WRYH0zaVcQbQlHai",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "83316f6c-f1ae-417c-887f-24171070975f",
                    "leftValue": "={{ $('Line Chatbot').item.json.body.events[0].message.text }}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text=menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Line Chatbot').item.json.body.events[0].message.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ee04065c-f53d-4221-b80f-183505a0f5a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "type=Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fa0b4f9d-00e1-48f6-9aca-7c7e4c047169",
                    "leftValue": "={{ $('Line Chatbot').item.json.body.events[0].message.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "type=Image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        920,
        -620
      ],
      "id": "c1283e33-9c75-4a5e-8f9a-9451c51339de",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Line Chatbot').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n      {\n      \"type\": \"text\",\n      \"text\": \"📋 เมนูอาหารไทย\\n🍛 เมนูจานเดียว\\nข้าวกะเพราไก่ไข่ดาว — 55 บาท\\nข้าวผัดกุ้ง — 60 บาท\\nข้าวหมูกระเทียม — 50 บาท\\nข้าวไข่เจียวหมูสับ — 40 บาท\\nข้าวราดพะแนงหมู — 60 บาท\\n\\n🍲 กับข้าว\\nต้มยำกุ้ง — 120 บาท\\nแกงเขียวหวานไก่ — 100 บาท\\nผัดผักรวมมิตร — 80 บาท\\nไข่เจียวหมูสับ — 60 บาท\\nปลาทอดน้ำปลา — 150 บาท\\n\\n🥗 เมนูสุขภาพ\\nส้มตำไทย — 45 บาท\\nยำวุ้นเส้น — 60 บาท\\nลาบหมู — 70 บาท\\nต้มจืดเต้าหู้หมูสับ — 70 บาท\\n\\n🍹 เครื่องดื่ม\\nน้ำเปล่า — 10 บาท\\nน้ำอัดลม (โค้ก/แฟนต้า/สไปร์ท) — 20 บาท\\nชามะนาวเย็น — 30 บาท\\nน้ำส้มคั้นสด — 35 บาท\\nชาไทยเย็น — 30 บาท\\n\\n🍧 ของหวาน\\nข้าวเหนียวมะม่วง — 60 บาท\\nลอดช่องน้ำกะทิ — 35 บาท\\nทับทิมกรอบ — 40 บาท\\nไอศกรีมกะทิสด — 30 บาท\"\n    }\n  ]} ",
        "options": {}
      },
      "id": "aff69e10-e393-4a14-869f-50fdadc321e3",
      "name": "Reply Flex Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1620,
        -800
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ixqeJF7RNPKnBMw8",
          "name": "Header Auth account 2"
        },
        "httpBearerAuth": {
          "id": "ORJeQiJU9Xngd92J",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "# LINE Messaging API Webhook\n\nLINE Webhook คือทางเชื่อมที่ LINE ใช้ส่งข้อมูลมาบอก Bot ของเราทันทีเมื่อมีคนทำอะไรกับ Bot เช่น ส่งข้อความหรือกดปุ่ม\n",
        "height": 800,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        -960
      ],
      "id": "99195e4a-b3fe-4bea-9b31-ed2e6c4d27a2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Response\nResponse คือ ข้อความที่เราตอบกลับผู้ใช้หลังจากให้ AI ช่วยคิดคำตอบให้\n",
        "height": 800,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1500,
        -960
      ],
      "id": "a97bf6ba-c23d-42ce-aae5-0cacfa39f3d3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Line Chatbot').item.json.body.events[0].source.userId }}",
        "contextWindowLength": 200000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1340,
        -360
      ],
      "id": "f80a9530-d878-4d92-ac0a-6680eccedf5c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# AI Agent \nสร้าง AI ขึ้นมาช่วยตอบคำถาม",
        "height": 800,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        -960
      ],
      "id": "3163d10e-3eb2-41bf-b6c2-c613c7f5d0c5",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply": {
      "main": [
        [
          {
            "node": "ReplyMessage - Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Chatbot": {
      "main": [
        [
          {
            "node": "Loading Animation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loading Animation": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Reply Flex Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ff6a8b0-8a24-4c7a-ae0c-5563f6f33d33",
  "meta": {
    "templateId": "2975",
    "templateCredsSetupCompleted": true,
    "instanceId": "fe221e328b408030e243fdd0968ce1848f2280c17407e635da4dd803eda3542e"
  },
  "id": "rZY5yZF3l8ixwT4U",
  "tags": []
}